body {
    background-color: #37007a;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

.nav ul li.bzRDl {
    float: right
}

.nav ul li.yvMhe {
    float: left
}

.nav ul li a.z1yP9 {
    display: block;
    padding: 8px;
    color: whitesmoke;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
    transition: .5s;
}

.nav ul li a.TuBL3 {
    display: block;
    padding: 8px;
    color: whitesmoke;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
    transition: .5s;
    text-shadow: 0 0 2px whitesmoke;
}

.VhcpX {
    display: block;
    width: 45px;
    height: 45px;
}

#jpUrE {
    margin-right: 40px;
}

.nav ul li a.z1yP9:hover {
    background-color: #37007a;
    text-shadow: 0 0 7px black;
}

#active {
    background-color: #260054;
    text-shadow: 0 0 7px black;
}

#active:hover {
    background-color: #37007a;
}

.header {
    background-color: #260054;
    text-align: center;
    padding-top: 35px;
    font-size: 45px;
    color: whitesmoke;
    text-shadow: 0 0 7px black;
}

.dE1fw {
    text-align: center;
    background-color: #37007a;
    text-decoration: none;
    border-radius: 10px;
    width: 150px;
    transition: .5s;
}

.header2 {
    text-align: center;
    padding-bottom: 30px;
    padding-top: 20px;
    background-color: #260054;
    font-size: 25px
}

.header2 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.header2 ul li a.dE1fw {
    display: inline-block;
    color: whitesmoke;
    text-shadow: 0 0 7px black;
}

#mB7Ex {
    margin-right: 5px;
    padding: 5px;
}

#bfAPn {
    margin-left: 5px;
    padding: 5px;
}

.dE1fw:hover {
    background-color: black;
    text-shadow: 0 0 7px whitesmoke;
}